.Contact-Us {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #14141f;

  padding: 18rem 0rem;
  align-items: center;
  justify-content: center;
}
.form-container {
  width: 100%;
  max-width: 50rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.contact-us_container {
  height: auto;

  h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 32px;
  }
}
.contact-us_header {
  p {
    width: 50%;
    text-align: center;
  }
}
.contact-us_row_box {
  padding: 20px 40px;
  width: 100%;
  min-width: 100%;
}
.contact-us_row_container {
  max-width: 650px;
  background-color: #1c1f26;
  border-radius: 10px;
  margin-top: 4.7rem;

  p {
    line-height: 1.6;
    padding-top: 1.5rem;
  }
}
.contact-us_andress {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
  img {
    width: 2rem;
    align-self: center;
  }
  p {
    padding: 0;
    margin: 0;
  }
}
.contact-us_adress_container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 1rem;
}
.socialmedia_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  img {
    width: 2rem;
    height: 2rem;
  }
}
.socialmedia_logo_container {
  background-color: #111213;
  display: flex;
  align-items: center;
  padding: 1.2rem 1.2rem;
  border-radius: 5px;
}

.contact-us_form-flex {
  display: flex;
  gap: 7.5rem;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-text_email {
    display: flex;
    gap: 2rem;
  }

  .form-inputs,
  textarea {
    height: 50px;
    margin-bottom: 35px;
    padding-left: 20px;
    background-color: #1c1f26;
    width: 100%;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  input[type="submit"] {
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10rem;
    padding: 13px 30px;
    background: linear-gradient(92.29deg, #86109e -9.05%, #086f7c 103.12%);
  }

  input[type="submit"]:hover {
    background-color: #0d7a9b;
  }

  textarea {
    height: 150px;
    padding: 20px;
    width: 100%;
    background: transparent;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
    background-color: #1c1f26;
  }
}

.cryptoNews {
  text-align: left;
  padding: 2rem 3rem;
  line-height: 1.6;
  max-height: fit-content;
  border-radius: 12px;
  background-color: #1d1d223b;
  ul {
    max-width: 35rem;
  }
  ul,
  li,
  a {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  a:hover {
    color: #fff;
    text-decoration: underline;
  }
  h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .contact-us_form-flex {
    gap: 2rem;
  }
}
@media (max-width: 800px) {
  #dark .form-container {
    margin-top: 4.8rem;
  }
  .contact-us_form-flex {
    flex-direction: column;
  }
  .form-container {
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .contact-us_form-flex {
    padding-inline: 2rem;
  }
}
