@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

.market-container {
  background-color: #14141f;
  padding-bottom: 10rem;
  color: #fff;
  padding-top: 9rem;
}
.Market-container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  //   border: 1px solid red;
  margin: 0 auto;
  width: 100%;

  p {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
  }
}
.green-text {
  color: #0ecb81 !important;
}
.red-text {
  color: #f6465d !important;
}
.Market-names_container {
  display: flex;
  flex-direction: column;
  //   border: 1px solid blue;
  height: auto;
  overflow-x: auto;
  white-space: nowrap;
}
.market-icon_img:hover {
  border: 1px solid #5142fc;
}
.market-icon_img:focus {
  border: 1px solid #5142fc;
}
.market-icon_img {
  display: flex;
  align-items: center;
  border: 1px solid #474d57;
  height: 40px;
  width: 100px;
  min-width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  color: #5e6673;
  border-radius: 8px;
  margin-top: 1rem;

  .searchIcon {
    width: 20px;
    height: 20px;
  }
  .search_bar {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
    opacity: 1;
    font-size: 1.4rem;
    color: white;
    padding-left: 10px;
  }
}
.Market-names {
  grid-gap: 2rem;
  align-items: center;
  // background: linear-gradient(3deg,#1384C3,#7311A1);
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1384c3,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #106ea1,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px 8px 0 0;
  // background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  margin-top: 1.875rem;
  color: #fff;
  display: grid;
  font-size: 2.2rem;
  font-weight: 500;
  gap: 2rem;
  grid-template-columns: 26fr 26fr 26fr 26fr 26fr;
  height: auto;
  padding: 1.5rem 1.5rem;
  text-align: right;
  width: 100%;
  .coin-text {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
  }
}
.coin-row {
  grid-gap: 2rem;
  align-items: center;
  border-bottom: 1px solid #474d57;
  color: #eaecef;
  display: grid;
  font-size: 2.2rem;
  font-weight: 400;
  gap: 3rem;
  grid-template-columns: repeat(5, minmax(0, 250px));
  max-height: 101px;
  padding: 2.5rem 1.5rem;
  text-align: right;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  background-color: transparent;
  word-wrap: break-word;
  word-break: break-all;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    height: 50px;
  }
  .img-symbol {
    display: flex;
    gap: 1.2rem;
    word-wrap: break-word;
    text-align: left;
    text-overflow: clip;
    align-items: center;
  }
}
.coin-row:hover {
  background-color: rgb(15, 17, 26);
  transition: all 0.3s;
}
.search-text {
  display: flex;
  align-items: center;

  h2 {
    font-size: 4.5rem;
    flex: 1;
  }
}
.paginationButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;

  button {
    border: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .previousbutton-style,
  .nextbutton-style {
    color: rgb(183, 189, 198);
    background-color: transparent;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.paginationButtons button:hover {
  background-color: #f8f8f81f;
}

.paginationButtons button.active {
  background-color: #f8f8f81f;
  color: #fff;
}
@media (max-width: 900px) {
  .Market-names {
    width: 900px;
    overflow-x: auto;
  }
  .coin-row {
    overflow-x: auto;
    width: 900px;
    text-align: right;
  }
  .Market-names_container {
    width: 100%;
    height: auto;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: auto;
    flex-wrap: nowrap;
    word-wrap: break-word;
    overflow-wrap: break-word;

    p {
      font-size: 1.4rem;
    }

    .Market-names {
      box-shadow: none;
    }
  }
}
@media (max-width: 766px) {
  .search-text {
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 1rem;
    gap: 1rem;

    h2 {
      font-size: 2.4rem;
    }
  }
  .market-icon_img {
    width: 100%;
  }
  .heroTextAndImage {
    .nextgen-text {
      font-size: 7rem;
    }
    .cryptomarket-text {
      font-size: 7rem;
    }
  }

 .service-text {

  h1 {
    font-size: 3.2rem;
  }
 }
 .service-description_container {padding-inline: 1rem;}
 
}
@media (max-width: 650px) {
  .coins-chart {
    width: 27rem;
  }
}
